*:focus {
  outline: none;
}
*:hover {
  outline: none;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  /* overflow: hidden; */
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  color: #000000;
  text-decoration: none;
}
a:hover span {
  color: #00A1D6;
}
body {
  min-width: 1280px;
  max-width: 1280px;
  width: 100%;
  font: 1.7rem 'Microsoft YaHei';
  background-color: #F4F4F4;
}
body .app {
  display: flex;
  justify-content: center;
  width: 100%;
}
html {
  display: flex;
  justify-content: center;
  font-size: 62.5%;
  transform: scale(1);
}
.content_subdivision_dropdown_menu {
  height: 13rem;
  width: 14rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #FFFFFF;
}
.content_subdivision_dropdown_menu .el-dropdown-menu__item {
  font-size: 1.2rem;
  height: 3rem;
  margin: 0;
  border: 0;
}
.content_subdivision_dropdown_menu .el-dropdown-menu__item:hover {
  background-color: #FFFFFF;
  color: #00A1D6;
}
